.about-text {
  padding: 2rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  vertical-align: middle;
  animation: opacityFadeIn 3s;
}

.subtitle-text {
  margin: 0 auto 1rem;
}
.description-text {
  margin: auto;
}

@media (max-width: 560px) {
  .about-text {
    padding: 2rem 1rem;
  }
}
