.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeline-container-row {
  display: flex;
  gap: 1rem;
}

.timeline-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-item-active,
.timeline-item-inactive {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.timeline-item-active {
  border: 3px solid var(--secondary);
}

.timeline-item-inactive {
  border: 3px solid var(--gray);
}

.timeline-item-active::after,
.timeline-item-inactive::after {
  position: absolute;
  content: "";
  top: 29px;
  height: 103px;
  left: 12px;
}

.timeline-item-active::after {
  z-index: 1;
  border-left: 2px solid;
  border-image: linear-gradient(to top, var(--gray), var(--secondary));
  border-image-slice: 1;
}
.timeline-item-inactive::after {
  border-left: 2px solid var(--gray);
}

.timeline-container
  .timeline-container-row:last-child
  .timeline-item-container
  .timeline-item-active::after,
.timeline-container
  .timeline-container-row:last-child
  .timeline-item-container
  .timeline-item-inactive::after {
  height: unset;
}

.timeline-container
  .timeline-container-row
  .timeline-item-container
  .timeline-item-active::before,
.timeline-container
  .timeline-container-row
  .timeline-item-container
  .timeline-item-inactive::before {
  position: absolute;
  content: "";
  top: -103px;
  border-left: 2px solid var(--gray);
  color: var(--gray);
  height: 100px;
  left: 12px;
}

.timeline-container
  .timeline-container-row:first-child
  .timeline-item-container
  .timeline-item-active::before,
.timeline-container
  .timeline-container-row:first-child
  .timeline-item-container
  .timeline-item-inactive::before {
  height: unset;
}

.timeline-container
  .timeline-container-row
  .timeline-item-container
  .timeline-item-active
  .timeline-status-active {
  position: relative;
  left: 3px;
  top: 3px;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--secondary);
  animation: pulse-dot 0.75s linear infinite;
}

.timeline-container
  .timeline-container-row
  .timeline-item-container
  .timeline-item-inactive
  .timeline-status-inactive {
  position: relative;
  left: 3px;
  top: 3px;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--gray);
}
