html {
  scroll-behavior: smooth;
}

.button {
  outline-color: transparent;
}

a:hover {
  text-decoration: none !important;
}

.my-app {
  background-color: var(--black);
  color: white;
  font-family: Courier New;
}
