.btn-transparent-gray {
  background-color: transparent;
  color: var(--gray-1);
  border: 1px solid var(--gray-1);
  cursor: pointer;
}

.btn-transparent-gray:hover,
.btn-transparent-gray:focus {
  background-color: var(--gray-1);
  color: var(--black);
  border: 1px solid var(--gray-1);
  box-shadow: rgba(218, 218, 218, 0.35) 0px 1px 15px;
}

.pp-primary-button,
.pp-primary-link-button {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 0.5rem 0.75rem;
  outline: var(--white);
}

.pp-primary-button:hover,
.pp-primary-button:focus,
.pp-primary-link-button:hover,
.pp-primary-link-button:focus {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--white);
  box-shadow: rgba(218, 218, 218, 0.35) 0px 1px 15px;
}

.pp-nav-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pp-secondary-link-button {
  cursor: pointer;
  text-decoration: none;
  color: var(--gold);
  border-radius: 16px;
  padding: 2px 8px;
  outline-color: transparent;
}

.pp-secondary-link-button:hover {
  color: var(--gray-1);
  opacity: 0.6;
  text-decoration: none;
}
