.pp-section-wraper {
  width: 100%;
  text-align: center;
  z-index: 1;

  /*smooth transition*/
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@media (max-width: 1200px) {
  .pp-section-wraper {
    padding: 10vh 5%;
  }
}

.pp-section-about,
.pp-section-experience,
.pp-section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27vh 0;
  max-width: 1172px;
  margin: 0 auto;
}

.pp-section-wraper-body {
  background-color: var(--black-50);
  z-index: 1;
  border: 1px solid white;
  box-shadow: rgba(255, 255, 255, 0.548) 0px 1px 12px;
}

.pp-flex-row {
  display: flex;
}

.pp-flex-row-center {
  display: flex;
  justify-content: center;
}

.pp-flex-column {
  display: flex;
  flex-direction: column;
}

.pp-space-evenly {
  justify-content: space-evenly;
}

.pp-wrap {
  flex-wrap: wrap;
}

.pp-flex-grow-1 {
  flex-grow: 1;
}
