.pp-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--black);
}

.navbar-collapse {
  background-color: var(--black);
}

@media (max-width: 576px) {
  .pp-navbar {
    background-color: var(--black);
  }
}
