.about-wraper {
    position: relative;
    z-index: 1;
    padding-bottom: 28vh;
    padding-top: 28vh;
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 20px;  
    
    /*smooth transition*/
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.about-text {
    background-color: black;
    opacity: 1;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    overflow-y: auto;
}
.my-about-text {
    padding-top: 1em;
}


@media(max-width:768px) {
    .about-wraper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .my-about-text {
        text-align: center;
        vertical-align: middle;
        padding-top: 1em;
    }
}

@media(max-width:560px) {
    .about-wraper {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .about-text {
        overflow-y: auto;
        padding-bottom: 10vh;
        padding-top: 10vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    
}


/*smooth transition*/

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
