.about-text {
  color: white;
  padding: 2rem;
  overflow-y: auto;
}
.my-about-text {
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 560px) {
  .about-text {
    overflow-y: auto;
    padding: 2rem 1rem;
  }
}

/*smooth transition*/

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
