.intro-wraper {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20%;
  height: 100vh;
}

.ai-question {
  color: var(--very-light-gray);
}

.ai-answer {
  color: var(--very-light-gray);
}

.fade-in-2 {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.fade-out-ai-answer {
  animation: 3s fadeOut;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200%, 0);
  }
}

@media (max-height: 617px) {
  #footer {
    visibility: hidden;
  }
}
