.header-wraper {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 20vh;
    padding-top: 20vh;
}

.first-q {
    font-size: 30px;
    color: #e3e3e3;
}
.typed-text {
    color: #e3e3e3;
    font-size: 37px;
}

.btn-giveYourName {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    margin-left:5px;
}

.btn-giveYourName:hover {
    background-color: #999;
    color: #fff;
    border: 1px solid #999;
}

.ai-talking {
    padding-top: 5vh;
}

input {
    background-color: transparent;
    color: #a8a8a8;
    border: 1px solid #999;
}

input:hover {
    border: 1px solid #999;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 1px;
    outline:none;
    outline-color: #999;
}
/*
@media(max-width:768px) {
    .header-wraper {
        background-color: black;       
    }
}*/
