html {
    scroll-behavior: smooth;
}

.header-wraper {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 20vh;
    padding-top: 20vh;
    height: 100vh;
}

.about-section {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 20vh;
    padding-top: 20vh;
    height: 100vh;
    width:100%;
}



.first-q {
    font-size: 30px;
    color: #e3e3e3;
}

.typed-text {
    color: #e3e3e3;
    font-size: 37px;
}

.btn-giveYourName {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    margin-left:5px;
}

.btn-giveYourName:hover {
    background-color: #999;
    color: #fff;
    border: 1px solid #999;
}

.btn-continue-style {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
}

.btn-continue-style:hover {
    background-color: #999;
    color: #fff;
    text-decoration: none;
    border: 1px solid #999;
}

.ai-talking {
    padding-top: 5vh;
}

input {
    background-color: transparent;
    color: #a8a8a8;
    border: 1px solid #999;
}

input:hover {
    border: 1px solid #999;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 1px;
    outline:none;
    outline-color: #999;
}

.first-a {
    animation: 2.5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.btn-continue {
    margin-top: 5px;
    animation: 12.5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}


@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}
/*
@media(max-width:768px) {
    .header-wraper {
        background-color: black;       
    }
}*/
