
.navbar-wraper {
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: black;
}

.navbar-buttons {
    display: block;
    margin: 0 auto 0 auto;
    position: absolute;
    left: 10px;
    right: 0;
    top: 30vh;
    z-index: 2;
}

.btn {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #363636;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 0 0 1px #808080;
    margin-bottom: 15px;
}

btn:hover {
  
    animation: background 3s linear infinite;
}
