.experience-text {
  overflow-y: auto;
  padding: 32px 16px;
}

.work {
  padding: 16px 24px;
  border-radius: 16px;
}

.work-active {
  border: 2px solid var(--secondary);
}
.work-inactive {
  border: 1px solid var(--gray);
}

ul#menu li {
  display: flex;
}

@media (max-width: 768px) {
  .work {
    overflow-y: auto;
  }
  .experience-text {
    border: none;
  }
}

@media (max-width: 560px) {
  .experience-text {
    overflow-y: auto;
  }
}

.work-skill {
  padding: 0 8px;
  border-radius: 16px;
  background-color: var(--very-dark-grayish-red);
  color: var(--white);
}
