.footer-wraper {
    position: relative;
    z-index: 1;
    height: 5vh;
    width: 100%;
    color: white;
    font-size: 24px;

}

.footer-text {
    background-color: black;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    overflow-y: hidden;
}



@media(max-width:560px) {
    .footer-wraper {
        visibility: hidden;
    }
    .copyright {
        visibility: hidden;
    }
}
