.experience-text {
  color: white;
  overflow-y: auto;
  padding: 32px 16px;
}

.work {
  padding: 16px;
  border: 1px solid white;
  height: 100%;
  width: 400px;
}

ul#menu li {
  display: flex;
}

@media (max-width: 768px) {
  .work {
    padding-top: 10px;
    border: none;
    background-color: var(--black);
    height: auto;
    overflow-y: auto;
  }
  .experience-text {
    border: none;
  }
}

@media (max-width: 560px) {
  .experience-text {
    overflow-y: auto;
  }
}

.my-link {
  z-index: 1;
  cursor: pointer;
  padding-bottom: 0px;
}

.my-link a {
  text-decoration: none;
  background-color: var(--black);
  color: lightgray;
  border-radius: 100px;
  padding: 10px;
}

.my-link a:hover {
  background-color: lightgray;
  color: var(--black);
  text-decoration: none;
}

button.rec-dot {
  background-color: rgb(36, 36, 36);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.5);
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: grey;
  color: grey;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: 0.2;
}

.rec.rec-arrow:enabled:hover {
  background-color: grey;
}
