.pp-margin-left-small {
  margin-left: 8px;
}

.pp-margin-bottom-0 {
  margin-bottom: 0;
}

.pp-margin-bottom-x-small {
  margin-bottom: 4px;
}

.pp-margin-bottom-small {
  margin-bottom: 8px;
}

.pp-margin-top-56 {
  margin-top: 56px;
}

.pp-text-x-small {
  font-size: 12px;
}

.pp-text-small {
  font-size: 14px;
}

.pp-text-normal {
  font-size: 16px;
}

.pp-text-large {
  font-size: 18px;
}

.pp-text-x-large {
  font-size: 20px;
}

.pp-text-xx-large {
  font-size: 22px;
}

.pp-text-large-30 {
  font-size: 30px;
}

.pp-text-large-50 {
  font-size: 50px;
}

.pp-width-100 {
  width: 100%;
}

.pp-text-red {
  color: var(--red);
}

.pp-text-white {
  color: var(--white);
}

.pp-text-bold {
  font-weight: bold;
}

.pp-text-align-end {
  text-align: end;
}

.pp-text-align-start {
  text-align: start;
}

.pp-input-black {
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
}

.pp-input-black:hover {
  border: 1px solid var(--very-light-gray);
}

.pp-input-black:focus,
textarea:focus,
select:focus {
  outline-offset: 1px;
  outline: none;
  outline-color: var(--very-light-gray);
}

.pp-box-shadow-gray {
  box-shadow: rgba(218, 218, 218, 0.35) 0px 1px 5px;
}

.pp-box-shadow-gray:hover {
  box-shadow: rgb(255, 255, 255) 0px 1px 15px;
}

.pp-gap-x-small {
  gap: 8px;
}

.pp-gap-small {
  gap: 16px;
}
