:root {
  --very-light-gray: #e3e3e3;
  --light-slate: #a8b2d1;
  --black: black;
  --black-50: rgba(0, 0, 0, 0.5);
  --white: white;
  --red: red;
  --darkslateblue: #483d8b;
  --very-dark-grayish-red: #3c2b2b;
}
