.footer-wraper {
  z-index: 1;
  position: relative;
  color: white;
  background-color: var(--black-50);
}

.footer-text {
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
